[submodule "amf"]
	path = NFs/amf
	url = https://github.com/hokusai0603/amf.git
[submodule "ausf"]
	path = NFs/ausf
	url = https://github.com/hokusai0603/ausf.git
[submodule "n3iwf"]
	path = NFs/n3iwf
	url = https://github.com/hokusai0603/n3iwf.git
[submodule "nrf"]
	path = NFs/nrf
	url = https://github.com/hokusai0603/nrf.git
[submodule "nssf"]
	path = NFs/nssf
	url = https://github.com/hokusai0603/nssf.git
[submodule "pcf"]
	path = NFs/pcf
	url = https://github.com/hokusai0603/pcf.git
[submodule "smf"]
	path = NFs/smf
	url = https://github.com/hokusai0603/smf.git
[submodule "udm"]
	path = NFs/udm
	url = https://github.com/hokusai0603/udm.git
[submodule "udr"]
	path = NFs/udr
	url = https://github.com/hokusai0603/udr.git
[submodule "upf"]
	path = NFs/upf
	url = https://github.com/hokusai0603/go-upf.git
[submodule "webconsole"]
	path = webconsole
	url = https://github.com/free5gc/webconsole.git
[submodule "chf"]
	path = NFs/chf
	url = https://github.com/hokusai0603/chf.git
[submodule "tngf"]
	path = NFs/tngf
	url = https://github.com/hokusai0603/tngf.git
[submodule "NFs/nef"]
	path = NFs/nef
	url = https://github.com/hokusai0603/nef.git
[submodule "ci-test"]
	path = ci-test
	url = https://github.com/free5gc/ci-test.git
